body {  font-family: 'Noto Sans KR', 'Gaegu';   }

/* 폰트 */
h1 {  font-family: 'Gaegu', bold; color:#719C6D   }
h2 {  font-family: 'Gaegu', bold;   }
h3 {  font-family: 'Gaegu', bold;   }
h4 {  font-family: 'Gaegu', bold;   }

/* 0. 네비게이션 영역 */
.nav-link:hover,
.nav-link.active {
    color: #719C6D !important;
    
}

/* 1. 구분선 영역 */

/* 3. 새 리스트 영역 */
#icon_heart{ padding:10; }

#Bird{
    background-image: url(Images/ListBackground1.png);
    background-size: cover;
    background-position: center top;
}

.img-wrapper {

    display: inline-block;
    overflow: hidden;
}

.img-wrapper img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    vertical-align: middle;
}

.img-wrapper img:hover {
    transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
    -moz-transform:scale(1.5); /* Firefox */
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -o-transform:scale(1.5); /* Opera */
}